name: Build
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ghidra:
          - "11.3.1"
          - "11.3"
          - "11.2.1"
          - "11.2"

    steps:
    - name: Clone Repository
      uses: actions/checkout@v4
  
    - name: Install Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Install Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Install Ghidra ${{ matrix.ghidra }}
      uses: antoniovazquezblanco/setup-ghidra@v2.0.12
      with:
        auth_token: ${{ secrets.GITHUB_TOKEN }}
        version: ${{ matrix.ghidra }}

    - name: Build
      run: gradle buildExtension

    - name: Upload artifacts
      uses: actions/upload-artifact@v5
      with:
        name: NativeAOT_Ghidra_${{ matrix.ghidra }}
        path: dist/*.zip

  release:
    runs-on: ubuntu-latest
    needs: build
    if: contains(github.ref, 'refs/tags/v')
    permissions:
      contents: write

    steps:
    - name: Download binaries
      uses: actions/download-artifact@v5

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: NativeAOT_Ghidra_*/*.zip
